<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749906237943-om9pn5c8hqgdsp0oo55sffisddu7fs0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749906237943-om9pn5c8hqgdsp0oo55sffisddu7fs0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDTaIaB09vRtYXE-lM7IMVTMBW2LkLNU08</string>
	<key>GCM_SENDER_ID</key>
	<string>749906237943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication3</string>
	<key>PROJECT_ID</key>
	<string>account-tracker-firebase-5b94c</string>
	<key>STORAGE_BUCKET</key>
	<string>account-tracker-firebase-5b94c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749906237943:ios:87c96cc80fe84c140136f2</string>
</dict>
</plist>